body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.top-bar-style, .category .category-top-bar .top-bar .top-bar-left .menu, .category .category-top-bar .top-bar .top-bar-right .menu {
  font: sans-serif;
  font-weight: bold;
  font-size: 0.69em; }
  .top-bar-style a, .category .category-top-bar .top-bar .top-bar-left .menu a, .category .category-top-bar .top-bar .top-bar-right .menu a {
    color: black; }

.category .category-top-bar .top-bar {
  padding: 1em;
  background: #fff; }
  .category .category-top-bar .top-bar .top-bar-title {
    flex: 0.85 0 auto; }
    .category .category-top-bar .top-bar .top-bar-title .category-top-bar-logo {
      width: 5em;
      height: 3em; }
  .category .category-top-bar .top-bar .top-bar-left .menu {
    background: #fff; }
  .category .category-top-bar .top-bar .top-bar-right .menu {
    background: #fff; }

.category .category-media-area .media-object .media-object-section img {
  width: 87em;
  height: 16em; }

.category .category-media-area .media-object .media-object-section .card {
  position: absolute;
  padding: 6.2em;
  background: #393935;
  top: 7em;
  left: 19em;
  height: 16em;
  width: 52em;
  border: solid white;
  border-width: 0em 0.5em;
  margin-bottom: 0em;
  color: white;
  text-align: center; }
  .category .category-media-area .media-object .media-object-section .card .category-media-area-heading {
    font-family: serif;
    font-size: 2em; }
  .category .category-media-area .media-object .media-object-section .card .category-media-area-text {
    font-size: 0.7em;
    font-family: sans-serif;
    font-weight: 600; }

.category .category-items-area .row.display .columns {
  margin-bottom: 1em; }
  .category .category-items-area .row.display .columns .overlay {
    display: none;
    width: 18em;
    height: 3em;
    position: absolute;
    top: 0em;
    right: 0px;
    left: 2.5em;
    bottom: 0;
    background-color: transparent; }
    .category .category-items-area .row.display .columns .overlay .product-hover {
      background: #f4f4f7;
      opacity: 0.9;
      border: none;
      padding: 0em;
      height: 15em; }
      .category .category-items-area .row.display .columns .overlay .product-hover .button-details {
        margin-top: 4.5em; }
        .category .category-items-area .row.display .columns .overlay .product-hover .button-details .button {
          font-size: 0.8em;
          font-weight: bold;
          text-transform: uppercase;
          width: 10em;
          background-color: #1D1D20; }
        .category .category-items-area .row.display .columns .overlay .product-hover .button-details .button:focus, .category .category-items-area .row.display .columns .overlay .product-hover .button-details .button:hover {
          background-color: #000;
          color: #fefefe; }
      .category .category-items-area .row.display .columns .overlay .product-hover .button-add-to-cart .button {
        font-size: 0.8em;
        font-weight: bold;
        text-transform: uppercase;
        width: 10em;
        background-color: #4A4A4D; }
      .category .category-items-area .row.display .columns .overlay .product-hover .button-add-to-cart .button:focus, .category .category-items-area .row.display .columns .overlay .product-hover .button-add-to-cart .button:hover {
        background-color: #000;
        color: #fefefe; }
  .category .category-items-area .row.display .columns .product-image:hover .overlay {
    display: block; }
  .category .category-items-area .row.display .columns .product-image {
    position: relative; }
    .category .category-items-area .row.display .columns .product-image img {
      width: 18em;
      height: 15em; }
  .category .category-items-area .row.display .columns .product-info {
    border: none;
    margin-top: 1.8em; }
    .category .category-items-area .row.display .columns .product-info .brand {
      color: #9B9FA2;
      font-size: 0.8em;
      font-weight: bolder; }
    .category .category-items-area .row.display .columns .product-info .title {
      text-transform: uppercase;
      color: #3A3A3B;
      font-family: sans-serif;
      font-size: 0.9em; }
    .category .category-items-area .row.display .columns .product-info .price {
      color: #A4A3A1;
      font-family: sans-serif;
      font-weight: 600; }

.category .product-details-view .details-row {
  height: 6em; }
  .category .product-details-view .details-row .details-column {
    margin-top: 2.3em; }
    .category .product-details-view .details-row .details-column .path-text {
      text-transform: uppercase;
      font-family: sans-serif;
      font-size: 0.8em;
      font-weight: 600;
      letter-spacing: 2px; }

.category .product-details-view .info {
  padding-top: 1em; }
  .category .product-details-view .info .details-image {
    width: 35em;
    height: 27em; }
  .category .product-details-view .info .details-info {
    width: 29em; }
    .category .product-details-view .info .details-info .row {
      margin: 1.5em; }
    .category .product-details-view .info .details-info .details-brand, .category .product-details-view .info .details-info .details-description {
      font-size: 0.9em;
      font-weight: 600;
      color: #9B9FA2; }
    .category .product-details-view .info .details-info .details-title {
      font-size: 2.0em;
      font-family: serif; }
    .category .product-details-view .info .details-info .details-price {
      color: #A4A3A1;
      font-family: sans-serif;
      font-weight: 600; }
    .category .product-details-view .info .details-info .details-controls .button {
      /*@include button-mixin;*/
      background-color: #1D1D20; }

/*
height: 17em;
    width: 22em;
*/
