
$darkGrey: #393935;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.top-bar-style {
  font: sans-serif;
  font-weight: bold;
  font-size: 0.69em;
  a{
    color: black;
  }
}

.category{
  .category-top-bar {
    .top-bar{
      padding: 1em;
      background: #fff;
      .top-bar-title {
        flex: 0.85 0 auto;
        .category-top-bar-logo {
          width: 5em;
          height: 3em;
        }
      }
      .top-bar-left {
        .menu {
          @extend .top-bar-style;
          background: #fff;
        }
      }
      .top-bar-right {
        .menu {
          @extend .top-bar-style;
          background: #fff;
        }
      }
    }
  }

  .category-media-area{
    .media-object {
      .media-object-section {
        img {
          width: 87em;
          height: 16em
        }
        .card {
            position: absolute;
            padding: 6.2em;
            background: $darkGrey;
            top: 7em;
            left: 19em;
            height: 16em;
            width: 52em;
            border: solid white;
            border-width: 0em 0.5em;
            margin-bottom: 0em;
            color: white;
            text-align: center;

            .category-media-area-heading {
                font-family: serif;
                font-size: 2em;
            }
            .category-media-area-text{
                font-size: 0.7em;
                font-family: sans-serif;
                font-weight: 600;
            }
        }
      }
    }
  }

  @mixin button-mixin {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    width: 10em;
  }

  .category-items-area {
    .row.display {
        .columns {
          margin-bottom: 1em;

          .overlay {
            display: none;
            width: 18em;
            height: 3em;
            position: absolute;
            top: 0em;
            right: 0px;
            left: 2.5em;
            bottom: 0;
            background-color: transparent;

            .product-hover {
              background: #f4f4f7;
              opacity: 0.9;
              border: none;
              padding: 0em;
              height: 15em;

              .button-details {
                margin-top: 4.5em;
                .button {
                  @include button-mixin;
                  background-color: #1D1D20;
                }
                .button:focus, .button:hover {
                    background-color: #000;
                    color: #fefefe;
                }
              }
              .button-add-to-cart {
                .button {
                  @include  button-mixin;
                  background-color: #4A4A4D;
                }
                .button:focus, .button:hover {
                    background-color: #000;
                    color: #fefefe;
                }
              }
            }
          }

          .product-image:hover .overlay{
            display: block;
          }

          .product-image {
            position: relative;
            img {
              width: 18em;
              height: 15em;
            }
          }
          .product-info {
            border: none;
            margin-top: 1.8em;

            .brand {
              color: #9B9FA2;
              font-size: 0.8em;
              font-weight: bolder;
            }
            .title {
              text-transform: uppercase;
              color: #3A3A3B;
              font-family: sans-serif;
              font-size: 0.9em;
            }
            .price {
              color: #A4A3A1;
              font-family: sans-serif;
              font-weight: 600;
            }
          }
        }
    }
  }

  .product-details-view{
    .details-row{
      height: 6em;
      .details-column{
        margin-top: 2.3em;
        .path-text {
          text-transform: uppercase;
          font-family: sans-serif;
          font-size: 0.8em;
          font-weight: 600;
          letter-spacing: 2px;
        }
      }
    }

    .info {
      padding-top: 1em;
      .details-image {
        width: 35em;
        height: 27em;
      }
      .details-info {
        width: 29em;
        .row {
          margin: 1.5em;
        }
        .details-brand, .details-description {
          font-size: 0.9em;
          font-weight: 600;
          color: #9B9FA2;
        }
        .details-title {
          font-size: 2.0em;
          font-family: serif;
        }
        .details-price {
          color: #A4A3A1;
          font-family: sans-serif;
          font-weight: 600;
        }
        .details-controls {
          .button {
            /*@include button-mixin;*/
            background-color: #1D1D20;
          }
        }
      }
    }
  }
}

/*
height: 17em;
    width: 22em;
*/
